name: Docker Image CI

on: [push]

jobs:
  hadolint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - run: make lint-docker
  shellcheck:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - run: make lint-shell
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6.1.0
        with:
          go-version: 1.25
      - uses: actions/checkout@v6.0.0
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.1.0
        with:
          working-directory: tests/
          args: --timeout 3m0s
  terratest:
    needs: [hadolint, shellcheck, golangci]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - name: Set up go
        uses: actions/setup-go@v6.1.0
        with:
          go-version: 1.25
      - name: Setup Dependencies
        working-directory: tests/
        run: go get -v -t -d && go mod tidy
      - name: Test
        working-directory: tests/
        run: go test -v
  build:
    if: ${{ github.ref_name == 'main' }}
    needs: [terratest]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - run: docker build . --file docker/Dockerfile --tag the-internet-docker:$(date +%s)
