name: Docker Image CI

on: [push]

jobs:

  build:
 
    runs-on: ubuntu-latest
 
    steps:
    - uses: actions/checkout@v1
    - name: Run hadolint
      run: make lint-docker
    - name: Run hadolint
      run: make lint-shell
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag the-internet-docker:$(date +%s)